<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name = "title" placeholder="Title"
        [ngModel]="post.title" required minlength="3" #title="ngModel">
      <mat-error *ngIf="title.hasError('required')">Please enter title.</mat-error>
      <mat-error *ngIf="title.hasError('minlength')">Title must be longer than 3 characters.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Content" row="4" name="content"
        [ngModel]="post.content" required #content="ngModel"></textarea>
      <mat-error *ngIf="content.hasError('required')">Please enter content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save post</button>
  </form>
</mat-card>
